body{
    background: #B7D9E2;
}

.container-fluid{
    padding: 32px;
}

.box{
    /* height: 700px; */
    background: #F0FCFE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 50px;
}

.tanggal{
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 113px;
    height: 39px;
    background: rgba(58, 114, 141, 0.45);
    color: #3A728D;;
    font-weight: bold;
    border-radius: 10px;
}

.foto{
    margin-right: 60px;
}

.user-foto{
    height: 125px;
    width: 125px;
    border-radius: 50%;
}

.label{
    font-size: 18px;
    font-weight: bold;
    color: #577196;
}

.content{
    font-size: 18px;
    color: #577196;
}

.btn-absen{
    width: 269px;
    height: 86px;
    background: #3A728D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.alignleft{
    float: left;
    margin-left: 1.5rem;
}

.alignright{
    float: right;
    margin-right: 3rem;
    text-align: right;
}

.absen{
    background: #3A728D;
    border-radius: 20px;
    color: white;
    font-size: 26px;
    padding: 5px;
}

.absen > .card-body > .card-title > .alignright {
    font-size: 1rem;
    font-weight: bold;
}

.absen > .card-body > .card-text {
    margin-top: 7rem;
}

table{
    border-spacing: 100px;
}

/* so small device, but seriously? who the f*ck still use this extra tiny size in this world?! */
@media (max-width: 375px) {
    .btn-absen{
        width: 205px;
    }
    .box{
        padding: 32px;
    }
    .box-right{
        margin-top: 2rem;
    }
    .bio-desc{
        margin-top: 1rem;
    }
    .absen{
        font-size: 18px;
    }
    .absen > .card-body > .card-text.mt-5{
        margin-top: 1rem !important;
    }
    .alignleft{
        margin-left: 0rem;
    }
    .alignright{
        margin-right: 0rem;
    }
}

/*Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .box-right{
        margin-top: 2rem;
    }
    .bio-desc{
        margin-top: 1rem;
    }
    .absen{
        font-size: 18px;
    }
    .absen > .card-body > .card-text.mt-5{
        margin-top: 1rem !important;
    }
    .alignleft{
        margin-left: 0rem;
    }
    .alignright{
        margin-right: 0rem;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .absen{
        font-size: 18px;
    }
    .absen > .card-body > .card-text.mt-5{
        margin-top: 1rem !important;
    }
    .alignleft{
        margin-left: 0rem;
    }
    .alignright{
        margin-right: 0rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .bio-desc{
        margin-top: 1rem;
    }
    .label{
        font-size: 16px;
    }
    .content{
        font-size: 16px;
    }
    .absen{
        font-size: 18px;
    }
    .absen > .card-body > .card-text.mt-5{
        margin-top: 1rem !important;
    }
    .alignleft{
        margin-left: 0rem;
    }
    .alignright{
        margin-right: 0rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .foto{
        margin-right: 65px;
    }
    
    .user-foto{
        height: 115px;
        width: 115px;
        border-radius: 50%;
    }
}