.row > div > div > h3 {
    font-size: 26px;
    font-weight: bold;
    color: #285870;
    margin-bottom: 2rem;
}

.img-rounded{
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

/* Graph */
.graph-productivity{
    background-color: #EAF9FC;
    border-radius: 20px;
    padding: 30px;
}
.graph-productivity  > .button {
    background-color: #AECFDD;
    border-radius: 15px;
    padding: 10px;
    color: #285870;
    font-weight: bold; 
}

/* Achievement */
.container-achievement{
    position: absolute;
    bottom: 0;
}

.container-achievement > img {
    width: 150%;
}

.achievement{
    background-color: #5C92AA;
    border-radius: 5px 20px 20px;
    padding: 30px;
    height: auto;
    width: 150%;
}

.achievement > h3 {
    margin-bottom: 0rem !important;
    color: #FAFEFF !important;
} 

.achievement > p {
    font-weight: 100;
    font-size: 15px;
    color: #FAFEFF;
}

.achievement > .button {
    background-color: #AECFDD;
    border-radius: 15px;
    padding: 10px;
    color: #285870;
    font-weight: bold;
}

/* Discussion */
.discussion{
    background-color: #C9DFE6;
    border-radius: 20px;
    padding: 30px;
    margin-top: -36px;
    height: 596px;
    overflow: auto;
}

.discussion > .row > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.discussion > .row > .col-8 {
    padding-left: 35px;
}

.discussion > .row > .col-8 > p {
    color: black;
    margin-bottom: 0px;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: inherit;
    height: 30px;
}

.discussion > .row > .col-2 > .number {
    background-color: #1aa062;
    border-radius: 100%;
    color: white;
    font-size: 22px;
}

.discussion > .row > div > i {
    color: #1aa062;
}

/* row 2 */

.container-flex > .row:nth-child(2) > div > div { 
    height: 400px;    
}

/* log activity */

.log-activity{
    padding: 30px;
    background-color: #FAFEFF;
    border-radius: 20px;
    box-shadow: 4px 4px 4px rgba(232, 243, 247, 0.5);
    overflow: auto;
}

.log-activity > .row > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.log-activity > .row > .col-8 {
    padding-left: 10px;
}

.log-activity > .row > .col-8 > p {
    color: black;
    margin-bottom: 0px;
}

.log-activity > .row > .col-8 > p:first-child{
    font-size: 1.125rem;
}

.log-activity > .row > .col-8 > p:nth-child(2){
    font-size: 0.875rem;
}

.log-activity > .row > div > i {
    font-size: 1.5rem;
}

/* Employee Presence */

.presence{
    padding: 30px;
    background-color: #E9F5F8;
    border-radius: 20px;
    box-shadow: 4px 4px 4px rgba(201, 223, 230, 0.5);
    overflow: auto;
}

@media (max-width: 1366px) {
    .container-achievement > img{
        width: auto;
    }
    .achievement{
        width: auto;
    }

    .discussion{
        height: 457px;
    }
    .discussion > .row > .col-2 > .number {
        width: 24px;
        font-size: 18px;  
    }
}