.container-fluid{
    padding: 32px;
}

.col-2{
    max-width: 11%;
}
.outer-box{
    background-color: #E5EFF2;
    border-radius: 20px;
    padding: 30px;
}

.header-box{
    background-color: #3A728D;
    border-radius: 20px;
    color: white;
    padding: 30px;
}

.card{
    padding: 30px;
    border-radius: 20px;
    background-color: #B7D9E2;
    font-weight: bold;
}

.btn-success{
    background-color: #3A728D;
    font-weight: bold;
    border-radius: 20px;
    border: none;
}

.btn-success:hover{
    background-color: #3A728D;
    font-weight: bold;
    border-radius: 20px;
    border: none;
}

.card > .row > .col {
    margin-left: 1rem;
}

.comment{
    color: #767575;
}

.profile-name{
    color: #3A728D;
}

.form{
    padding: 5px;
    background: #F0FCFE;
    border-radius: 8px;
    border-style: none;
    width: 100%;
    margin-top: 1rem;
  }

  @media (max-width: 375px) {
      .outer-box .row{
          flex-direction: column;
      }
  }
   
    /* // Extra small devices (portrait phones, less than 576px) */
  @media (min-width: 376px) and (max-width: 575.98px) {
    .outer-box .row{
        flex-direction: column;
    }
  }
  
  /* // Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) and (max-width: 767.98px) {
    .col-2{
        max-width: 23%;
    }
  }
  
  /* // Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) and (max-width: 991.98px) {
    .col-2{
        max-width: 17%;
    }
  }
