body{
  background-color: #F0FCFE;
}
.banner-home{
  background-color:#FAFEFF;
  background-image: url("../img/background-header.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Open Sans', sans-serif;
}


p {
  z-index: 99;
  position: relative;
}

a {color: #1F1F1F;}

/* Typography */
.super-big-title {
  color: black;
  font-family: 'PT Sans', sans-serif;
  font-weight: bolder;
  font-size: 58px;
}
.big-title {
  color: #45465B;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 3.7em;
}

.title {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 64px;
  z-index: 99;
  color: #45465B;
  position: relative;
}
.subtitle {
  font-family: 'Open Sans', sans-serif;
  font-weight: 570;
  font-size: 48px;
  z-index: 99;
  color: #45465B;
  position: relative;
}

/* Layout */
.separator-lg {
  display: block;
  height: 100px;
  width: 0px;
  clear: both;
}
.separator {
  display: block;
  height: 40px;
  width: 0px;
  clear: both;
}
.separator-md {
  display: block;
  height: 20px;
  width: 0px;
  clear: both;
}
.separator-sm {
  display: block;
  height: 20px;
  width: 0px;
  clear: both;
}

.list{
  height: 5px;
  width: 175px;
  background-color: #5C92AA;
}

.form{

  padding: 12px 26px;
  width: 410px;
  height: 63px;
  background: #F0FCFE;
  border-radius: 8px;
  border-style: none;
}

.button-form{

  padding: 12px 26px;
  width: 410px;
  height: 63px;
  background: #5C92AA;
  border-radius: 8px;
  border-style: none;
}

.line{
  width: 104px;
  height: 0px;

border: 1px solid rgba(0, 0, 0, 0.4);
}
.mv-large {
  margin-top: 40px;
  margin-bottom: 40px;
}
.mb-0 {margin-bottom: 0;}
.pad-lg {
  padding: 40px;
}
.pad-h-lg {
  padding-left: 40px;
  padding-right: 40px;
}
.pad-v-lg {
  padding-top: 40px;
  padding-bottom: 40px;
}
.center {
  display: block;
  margin: 0 auto;
}

img.center{
  height: 200px;
}

.flex {display: flex;}
.flex-align-center {
  display: flex;
  align-items: center;
}
.flex-justify-center {
  display: flex;
  justify-content: center;
}

/* Button */
@media (min-width: 768px) {
  .btn-lh {
    padding: 10px 40px;
    margin-bottom: 10px;
  }

  p, ul {font-size: 1.2em;}
}

@media (max-width: 768px) {
  .btn-lh {
    padding: 10px;
  }
  #socmed img {
    width: 20px;
  }
  #socmed a {
    font-size: .9em;
    margin-bottom: 5px;
  }
}


/* Card */
.card {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 10px;
  color:#1C5F85;
  background-color: #C9DFE5;
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
  margin: 0px 16px;
}

/* slick-arrow */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: #333333;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
/* slick-arrow */

.card-title {
  font-size: 13px;;
  font-weight: 600;
  color: grey;
  margin-left:-15px;
}

@media (max-width:629px) {
  .header-img {
    display: none;
  }

  .mobile-center{
    text-align: center;
  }

  #TestsDiv{
    display: none;
  }
}

@media (max-width: 375px) {
  .title{
    font-size: 50px;
  }
}
  /* // Extra small devices (portrait phones, less than 576px) */
@media (min-width: 376px) and (max-width: 575.98px) {
  .title{
    font-size: 50px;
  }
}
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  img.center{
    height: 124px;
  }
}
