.title {
    color: #317392;
  }
  
  .bg {
    background-color: #f0fcfe;
    margin-left: 2.5em;
    margin-right: 3em;
    margin-top: -1.1em;
    height: 70em;
    padding-left: 5em;
    padding-top: 2em;
  }
  
  .container-fluid h3 {
    color: #02668d;
  }
  
  .shape {
    background-color: #c9dfe5;
    height: 8em;
    width: 90%;
    padding: 0.5em 0 0 3em;
    border-radius: 20px;
    margin-top: 1.5em;
  }
  
  .button {
    background-color: #397390;
    display: inline;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    margin-right: 2em;
    cursor: pointer;
  }
  
  .button:hover{
      color: white;
  }

  #container {
    display: flex;
  }
  
  .float-right {
    margin-left: auto;
  }
  .container-fluid {
    padding: 52px;
  }
  
  .box {
    height: 180px;
    /*margin: 47.9px 67px 46px 66px;*/
    padding: 14px 34px 11px 30px;
    margin: 20px 7px 5px 7px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #f0fcfe;
  }
  
  .btn-forum {
    width: 180px;
    height: 50px;
    margin-left: 88%;
    margin-top: -180px;
    padding: 10px 20px 40px 20px;
    border-radius: 20px;
    background-color: #3a728d;
    font-family: OpenSans;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: #eaf9fc;
  }