body {
    background-color: #b7d9e2;
  }
  
  .container-fluid {
    padding: 32px;
  }
  .col-md-12 > .box.mt-5 > h1{
      font-size: 24px;
  }
  .box {
    height: 180px;
    /*margin: 47.9px 67px 46px 66px;*/
    padding: 14px 34px 11px 30px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #f0fcfe;
  }
  
  .btn-forum {
    width: 184px;
    height: 50px;
    margin-left: 88%;
    margin-top: -180px;
    padding: 20px;
    border-radius: 20px;
    background-color: #3a728d;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: #eaf9fc;
    text-decoration: none;
  }

  .btn-forum:hover{
    color: #eaf9fc;
    text-decoration: none;
  }
  
@media (max-width: 375px) {
  .container-fluid {
    padding: 16px;
  }
  .col-md-12 > .box.mt-5 > h1{
    font-size: 18px;
  }
  .col-md-12 > .box.mt-5 > h1:nth-child(2){
    margin-bottom: 30px;
  }  
  .btn-forum{
        margin-left: 40%;
        margin-top: 16px;
        width: auto;
        height: auto;
        display: flex;
        font-size: 12px;
        justify-content: center;
    }
}
  /* // Extra small devices (portrait phones, less than 576px) */
@media (min-width: 376px) and (max-width: 575.98px) {
  .col-md-12 > .box.mt-5 > h1{
    font-size: 18px;
  }
  .col-md-12 > .box.mt-5 > h1:nth-child(2){
    margin-bottom: 40px;
  }    
  .btn-forum{
        margin-left: 42%;
        margin-top: 14px;
        width: 159px;
        height: 18px;
        font-size: 16px;
    }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .col-md-12 > .box.mt-5 > h1{
    font-size: 18px;
  }  
  .btn-forum{
        margin-left: 42%;
        margin-top: 14px;
        width: 159px;
        height: 18px;
        font-size: 16px;
    } 
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .btn-forum{
        margin-left: 70%;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .btn-forum{
    margin-left: 78%;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1400px) {
  .btn-forum{
    margin-left: 80%;
  }
}