body{
    background-color: #B7D9E2;
}

.container-fluid{
    padding: 32px;
}

.date-status{
    color: #5C92AA;
    font-weight: bold;
}
thead{
    background-color: #5C92AA;
    color: white;
}

tbody{
    background-color: white;
    color: #5C92AA;
}

.task-link{
    color: #5C92AA !important;
    text-decoration: none;
}
/* modal */

.modal-dialog{
    border-radius: 10px;
}

.modal-content{
    background-color: #B7D9E2;
}

.modal-description{
    background-color: #F0FCFE;
    border-radius: 5px;
    padding: 32px;
    margin-left: 3rem;
    margin-right: 3rem;
}

.judul-modal{
    color: #033449;
    font-weight: bold;
}

.modal-status{
    margin: 3rem;
}
.modal-status > table > tbody > tr > td{
    padding: 10px;
    background-color: #F0FCFE;
}

.desc-title{
    background-color: #5C92AA !important;
    color: #033449;
    font-weight: bold;
}

/* so small device, but seriously? who the f*ck still use this extra tiny size in this world?! */
@media (max-width: 375px) {
   td{
       font-size: 12px;
   }
   .modal-description{
       margin-left: 0rem;
       margin-right: 0rem;
   }
   .modal-status{
       margin-left: 0rem;
       margin-right: 0rem;
   }
}

/*Extra small devices (portrait phones, less than 576px) */
@media (min-width: 376px) and (max-width: 575.98px) {
    .modal-description{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .modal-status{
        margin-left: 1rem;
        margin-right: 1rem;
    }
}