body{
    background-color:#B7D9E2;
    background-image: url("../img/background-signin.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: absolute;
    font-family: 'Open Sans', sans-serif;
}

footer{
  display: none;
}
  
  p {
    z-index: 99;
    position: relative;
  }
  
  a {color: #1F1F1F;}
  
  /* Typography */
  .super-big-title {
    color: black;
    font-family: 'PT Sans', sans-serif;
    font-weight: bolder;
    font-size: 58px;
  }
  .big-title {
    color: #45465B;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 3.7em;
  }
  
  .title {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 64px;
    z-index: 99;
    color: #45465B;
    position: relative;
  }
  .subtitle {
    font-family: 'Open Sans', sans-serif;
    font-weight: 570;
    font-size: 48px;
    z-index: 99;
    color: #45465B;
    position: relative;
  }
  
  /* Layout */
  .separator-lg {
    display: block;
    height: 100px;
    width: 0px;
    clear: both;
  }
  .separator {
    display: block;
    height: 40px;
    width: 0px;
    clear: both;
  }
  .separator-md {
    display: block;
    height: 20px;
    width: 0px;
    clear: both;
  }
  .separator-sm {
    display: block;
    height: 20px;
    width: 0px;
    clear: both;
  }
  
  .list{
    height: 5px;
    width: 175px;
    background-color: #5C92AA;
  }
  
  .form{
  
    padding: 12px 26px;
    width: 410px;
    height: 63px;
    background: #F0FCFE;
    border-radius: 8px;
    border-style: none;
  }
  
  .button-form{
  
    padding: 12px 26px;
    width: 410px;
    height: 63px;
    background: #5C92AA;
    border-radius: 8px;
    border-style: none;
  }
  
  .line{
    width: 104px;
    height: 0px;
  
  border: 1px solid rgba(0, 0, 0, 0.4);
  }
  .mv-large {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .mb-0 {margin-bottom: 0;}
  .pad-lg {
    padding: 40px;
  }
  .pad-h-lg {
    padding-left: 40px;
    padding-right: 40px;
  }
  .pad-v-lg {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .center {
    display: block;
    margin: 0 auto;
  }
  
  .flex {display: flex;}
  .flex-align-center {
    display: flex;
    align-items: center;
  }
  .flex-justify-center {
    display: flex;
    justify-content: center;
  }
  
  /* Button */
  @media (min-width: 768px) {
    .btn-lh {
      padding: 10px 40px;
      margin-bottom: 10px;
    }
  
    p, ul {font-size: 1.2em;}
  }
  
  @media (max-width: 768px) {
    .btn-lh {
      padding: 10px;
    }
    #socmed img {
      width: 20px;
    }
    #socmed a {
      font-size: .9em;
      margin-bottom: 5px;
    }
 
  }
  
  
  /* Card */
  .card {
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    border-radius: 10px;
    color:#1C5F85;
    background-color: #C9DFE5;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
  }
  
  .card-title {
    font-size: 13px;;
    font-weight: 600;
    color: grey;
    margin-left:-15px;
  }
  
  .continue{
    font-size: 18px;
  }
  @media (max-width:629px) {
    .header-img {
      display: none;
    }
  
    .mobile-center{
      text-align: center;
    }
  
    #TestsDiv{
      display: none;
    }
  }

  @media (max-width: 375px) {
    body{
      background-image: none;
    }
    .container.mv-large > .row > div {
      margin-top: 4.5rem;
    }

    .super-big-title{
      font-size: 41px;
    }
    .container.mv-large > .row > div:first-child > .separator-lg{
      display: none;
    }
    .container.mv-large > .row > div:first-child > .separator-md{
      display: none;
    }

    .container.mv-large > .row > div:nth-child(2) > .separator-lg {
      display: none;
    }
    .container.mv-large > .row > div:nth-child(2) > .float-right{
      float: none !important;
    }
    .container.mv-large > .row > div:nth-child(2) > form > .separator-md{
      display: none;
    }
    .container.mv-large > .row > div:nth-child(2) > form > .form {
      width: -webkit-fill-available;
    }
    .container.mv-large > .row > div:nth-child(2) > form > .button-form {
      width: -webkit-fill-available;
    }
  }
    /* // Extra small devices (portrait phones, less than 576px) */
  @media (min-width: 376px) and (max-width: 575.98px) {
    body{
      background-image: none;
    }
    .container.mv-large > .row > div {
      margin-top: 4.5rem;
    }

    .super-big-title{
      font-size: 41px;
    }
    .container.mv-large > .row > div:first-child > .separator-lg{
      display: none;
    }
    .container.mv-large > .row > div:first-child > .separator-md{
      display: none;
    }

    .container.mv-large > .row > div:nth-child(2) > .separator-lg {
      display: none;
    }
    .container.mv-large > .row > div:nth-child(2) > .float-right{
      float: none !important;
    }
    .container.mv-large > .row > div:nth-child(2) > form > .separator-md{
      display: none;
    }
    .container.mv-large > .row > div:nth-child(2) > form > .form {
      width: -webkit-fill-available;
    }
    .container.mv-large > .row > div:nth-child(2) > form > .button-form {
      width: -webkit-fill-available;
    }
  }
  
  /* // Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) and (max-width: 767.98px) {
    body{
      background-image: none;
    }
    .container.mv-large > .row > div {
      margin-top: 2rem;
    }

    .super-big-title{
      font-size: 41px;
    }
    .container.mv-large > .row > div:first-child > .separator-lg{
      display: none;
    }
    .container.mv-large > .row > div:first-child > .separator-md{
      display: none;
    }

    .container.mv-large > .row > div:nth-child(2) > .separator-lg {
      display: none;
    }
    .container.mv-large > .row > div:nth-child(2) > .float-right{
      float: none !important;
    }
    .container.mv-large > .row > div:nth-child(2) > form > .separator-md{
      display: none;
    }
    .container.mv-large > .row > div:nth-child(2) > form > .form {
      width: auto;
    }
    .container.mv-large > .row > div:nth-child(2) > form > .button-form {
      width: 234px;
    }
  }
  
  /* // Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) and (max-width: 991.98px) {
    
  }
  
  /* // Large devices (desktops, 992px and up) */
  @media (min-width: 992px) and (max-width: 1199.98px) {
    
  }
  
  /* // Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) and (max-width: 1400px) {
    
  }

