body {
    font-family: 'Open Sans', sans-serif;
    background-color: #B7D9E2;
}

.container{
    margin-top: 4.5rem;
}

footer > .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
}
.container-fluid{
    margin-top: 4.5rem;
}

.judul-section{
    font-weight: bold;
    color: #577196;
    margin-bottom: 32px;
}

.done{
    color: #68D16C;
    font-weight: bold;
}

.notyet{
    color: #e95331;
    font-weight: bold;
}

.onreview{
    color: #0a65ee;
    font-weight: bold;
}

/* navbar */
.navbar{
    background-color: #B7D9E2;
    padding-left : 32px;
    padding-right : 32px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.nav-link{
    color: #3A728D !important;
    font-weight: bold;
    margin-right: 24px;
}

.navbar .navbar-nav li.active > .nav-link{
    background-color: #3A728D;
    color: white !important;
    border-radius: 10px;
}

img{
    margin-top: -6px;
}

.navbar-nav > li > .dropdown-menu { 
    background-color: #B7D9E2; 
    color: #3A728D !important;
    font-weight: bold;
    border: none;
}

.navbar-nav > li > .dropdown-menu > .dropdown-item{ 
    background-color: #B7D9E2; 
    color: #3A728D !important;
    font-weight: bold;
  
}

.btn-outline-dark:hover {
    color: #fff !important;
    background-color: #3A728D;
    border-color: #3A728D;
}

.btn-outline-dark {
    border-color: #3A728D;
}

/*Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .navbar .navbar-nav li.active > .nav-link{
        padding-left: 1rem;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .navbar .navbar-nav li.active > .nav-link{
        padding-left: 1rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .navbar .navbar-nav li.active > .nav-link{
        padding-left: 1rem;
    }
}

/* Footer */

.footer{
    background-image: url("../img/background-footer.png");
    background-size: contain;
}
.footer > .row > .col > div {
    margin-top: 3rem;
    margin-bottom: 3rem;
} 

.footer-bottom {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    color: #333333;
    margin-top: 30px;
    margin-bottom: -20px;
  }

.footer > .row > .col > div > a {
    text-decoration: none;
    color: #333333;
    font-weight: bold;
} 

.footer-links{
    display: flex;
    flex-direction: column;
}

.footer-links > a{
    line-height: 2rem;
}

.social-media > a{
    margin-right: 0.5rem;
}

@media (max-width: 375px) {
    .social-media > a > svg{
        width: 1.5625rem;
        height: auto;
    }
  }
    /* // Extra small devices (portrait phones, less than 576px) */
  @media (min-width: 376px) and (max-width: 575.98px) {
  
  }
  
  /* // Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) and (max-width: 767.98px) {
  
  }
  
  /* // Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) and (max-width: 991.98px) {
    
  }
  
  /* // Large devices (desktops, 992px and up) */
  @media (min-width: 992px) and (max-width: 1199.98px) {
    
  }
  
  /* // Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) and (max-width: 1400px) {
    
  }
  