.container-fluid{
    padding: 32px;
}

.date-status{
    color: #5C92AA;
    font-weight: bold;
}
thead{
    background-color: #5C92AA;
    color: white;
}

tbody{
    background-color: white;
    color: #5C92AA;
}
.none-back{
    background-color: #B7D9E2;
}

.task-link{
    color: #5C92AA !important;
    text-decoration: none;
}

.btn-add{
    position: absolute;
width: 120px;
height: 35px;
background: #C9DFE5;
border: 2px solid #5C92AA;
box-sizing: border-box;
border-radius: 15px;
}

.button-none{
    border-style: none;
    background-color: #B7D9E2;
    margin-left: -10px;
}

.form{
    padding: 5px;
    background: #F0FCFE;
    border-radius: 8px;
    border-style: none;
    width: 80%;
  }
/* modal */

.modal-dialog{
    border-radius: 10px;
}

.modal-content{
    background-color: #B7D9E2;
}

.modal-description-task{
    background-color: #F0FCFE;
    border-radius: 5px;
    padding: 32px;
    margin-left: 3rem;
    margin-right: 0.3rem;
}
.modal-description-none{
    background-color: none;
    border-radius: 5px;;
    padding-top: 10px;
    padding-left: 32px;
    padding-right: 32px;
}

.modal-description{
    background-color: #F0FCFE;
    border-radius: 5px;
    padding: 32px;
    margin-left: 3rem;
    margin-right: 3rem;
}
.container-desc{
    border-radius: 5px;
    padding: 32px;
    margin-left: 3rem;
    margin-right: 3rem;

}

.judul-modal{
    color: #033449;
    font-weight: bold;
}

.modal-status{
    margin: 3rem;
}
.modal-status > table > tbody > tr > td{
    padding: 10px;
    background-color: none;
}

.desc-title{
    background-color: none !important;
    color: #033449;
    font-weight: bold;
}

/* so small device, but seriously? who the f*ck still use this extra tiny size in this world?! */
@media (max-width: 375px) {
   td{
       font-size: 12px;
   }
   .modal-description{
       margin-left: 0rem;
       margin-right: 0rem;
   }
   .modal-status{
       margin-left: 0rem;
       margin-right: 0rem;
   }
}

/*Extra small devices (portrait phones, less than 576px) */
@media (min-width: 376px) and (max-width: 575.98px) {
    .modal-description{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .modal-status{
        margin-left: 1rem;
        margin-right: 1rem;
    }
}