body {
    font-family: 'Open Sans', sans-serif;
    /* background-color: #B7D9E2; */
  }

  .container{
    margin-top: 5.5rem;
  }
  /* Color */
  .clr-mangrove {color: #005E4E;}
  .clr-snowdrop {color: white;}
  
  .bg-mangrove {background-color: #005E4E;}
  
  /* Layout */
  .separator {
    display: block;
    height: 40px;
    clear: both;
  }
  .separator-home{
    display: block;
    height: 40px;
    clear: both;
  }
  .separator-body {
    display: block;
    height: 40px;
    clear: both;
  }
  .separator-md {
    display: block;
    height: 20px;
    clear: both;
  }
  .separator-sm {
    display: block;
    height: 10px;
    clear: both;
  }
  .separator-xs {
    display: block;
    height: 5px;
    clear: both;
  }
  
  .pad-lg {padding: 40px;}
  .pad-md {padding: 20px;}
  
  .no-margin {margin: 0 !important;}
  
  .inline {display: inline;}

  .img-rounded{
      border-radius: 100%;
      height: 150px;
      width: 150px;
  }
  
  /* Card */
  .card{
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    margin: 20px 0;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
  }
  .card-green {
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    margin: 20px 0;
    padding: 40px;
    background: #F0FCFE;
    box-shadow: -4px -4px 10px rgba(0, 0, 0, 0.25), 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    height: 100%;
  }

  .container-fluid.admin > .green-background > .col > .card-green {
    background: none;
    box-shadow: none;
  }
  .float-right a{
    color: #1E5A75;
  }
  
  .card-title {
    font-size: 2rem;
    font-weight: bold;
    font-style: normal;
    font-size: 36px;
    color: #1E5A75;
  }
  
  .text-desc{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #3A728D;
  }
  
  .text-isi{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #5A5252;
  }
  
  .text-pw{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #000000;
  }
  
  .button-submit{
    position: relative;
    width: 150px;
    height: 45px;
    background: #3A728D;
    border-radius: 10px;
    border-style: none;
    color: white;
  }
  .form-pw{
    width: inherit;
    height: 40px;
    background: #D4E4EC;
    border-radius: 10px;
    border-style: none;
    padding: 10px;
  }
  
  #edit-photo-icon {
    margin-top: -64px;
    z-index: 9;
    position: relative;
  }
  
  .line{
    position: absolute;
    width: 500px;
    height: 0px;
    border: 2px solid #5C92AA;
  }
  
  /* Button */
  @media (min-width: 768px) {
    .btn-lh {
      padding: 10px;
      margin-bottom: 10px;
    }
  
    p, ul {font-size: 1.2em;}
  }
  
  @media (max-width: 768px) {
    .btn-lh {
      padding: 10px;
    }
    #socmed img {
      width: 20px;
    }
    #socmed a {
      font-size: .9em;
      margin-bottom: 5px;
    }
  }
  
  .menu {
    font-size: 1.2rem;
    font-weight: bold;
    color: #005E4E;
    border: #005E4E solid 2px;
    padding: 16px;
    margin-right: 8px;
    border-radius: 40px;
    width: 100%;
    text-align: center;
  }
  .menu.active {
    color: white;
    background-color: #005E4E;
  }
  
  .top-rounded {
    border-radius: 10px 10px 0 0;
  }
  .bottom-rounded {
    border-radius: 0 0 10px 10px;
  }
  
  .stats {
    position: absolute;
    top: 10px;
    padding: 10px;
    color: white;
  }
  .stats h1 {
    margin: 0;
  }
  .stats small {
    color: white;
    font-weight: bold;
  }
  
  .timeline {
    height: 480px;
    overflow-y: scroll;
  }
  
  /* Chip */
  .chip {
    padding: 2px 10px;
    border-radius: 20px;
    color: white;
    font-weight: 600;
  }
  .chip.pink {
    background-color: #F65169;
  }
  .chip.blue {
    background-color: #4699D8;
  }
  .chip.orange {
    background-color: #F26E2C;
  }
  .chip.green {
    background-color: #008F77;
  }
  
  
  
  .location-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .location-name {
    position: absolute;
    width: 70%;
  }
  
  /* Helper */
  .clickable {cursor: pointer;}
  
  /* modal */
  
  .modal-dialog{
    border-radius: 10px;
  }
  
  .modal-content{
    background-color: #ffffff;
    border-radius: 20px;
  }
  
  .modal-description{
    background-color: #F0FCFE;
    border-radius: 5px;
    padding: 32px;
    margin-left: 3rem;
    margin-right: 3rem;
  }
  
  .judul-modal{
    color: #033449;
    font-weight: bold;
  }
  
  .modal-status{
    margin: 3rem;
  }
  .modal-status > table > tbody > tr > td{
    padding: 10px;
    background-color: #F0FCFE;
  }
  
  .desc-title{
    background-color: #5C92AA !important;
    color: #033449;
    font-weight: bold;
  }
  .modal-body{
    width: 100%;
  }
  
  .form{
    width: 100%;
    padding: 30px;
  }
  
  /* so small device, but seriously? who the f*ck still use this extra tiny size in this world?! */
  @media (max-width: 375px) {
   td{
       font-size: 12px;
   }
   .modal-description{
       margin-left: 0rem;
       margin-right: 0rem;
   }
   .modal-status{
       margin-left: 0rem;
       margin-right: 0rem;
   }
   .form{
     padding-left: 1rem;
     padding-right: 1rem;
     padding-bottom: 0px;
   }
  }
  
  /*Extra small devices (portrait phones, less than 576px) */
  @media (min-width: 376px) and (max-width: 575.98px) {
    .modal-description{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .modal-status{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .form{
      padding: 1rem;
    }
  }
  
  @media (max-width: 1024px) {
    /*.img-rounded{
      width:70%;
    }*/
    .separator-mob{
      display: block;
    height: 40px;
    clear: both;
  
    }
    .card-green{
      height: 100%;
    }
    .share{
      float:right;
    }
    .slider-flow{
      width: 100%;
      height: 60px;
      overflow-x:auto;
      overscroll-behavior-x: smooth;
      overflow-y: hidden;
      white-space: nowrap;
      float: left;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
    .slider-flow::-webkit-scrollbar {
      display: none;
  }
  .slider-flow .slider {
      display: inline-block;
      border-top: none;
      /*float: left;*/
      position: relative;
      cursor: pointer;
      margin-right: -21px;
  }
  
  .slider-flow1{
    width: 100%;
    height: 100px;
    overflow-x:auto;
    overscroll-behavior-x: smooth;
    overflow-y: hidden;
    white-space: nowrap;
    float: left;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .slider-flow1::-webkit-scrollbar {
    display: none;
  }
  .slider-flow1 .slider {
    display: inline-block;
    border-top: none;
    /*float: left;*/
    position: relative;
    cursor: pointer;
    margin-right: -21px;
  }
  
  .btn-lh{
    margin-top:9px;
    padding: 5px 10px;
  }
  .menu{
  padding-left: 20px;
  padding-right: 20px;
  }
  .separator-home{
    display: none;
  }
  .separator-body{
    display: block;
    height: 20px;
    clear: both;
  }
  
  .line{
    position: absolute;
    width: 90%;
    height: 0px;
    border: 2px solid #5C92AA;
  }
}