.card-box{
    background: #C9DFE5;
    border-radius: 20px;
    padding: 32px;
}

.card-desc{
    color: #285870;
}

.card-desc h3{
    font-size: 1.5rem;
}

/* table */

.table-out{
    background: #E9F5F8;
    border-radius: 20px;
    padding: 30px;
    overflow: auto;
    height: 18rem;
}

.table{
    background: #E9F5F8;
}

.table thead th{
    border-bottom: 1.5px solid #C9DFE6;
}

.table td, .table th {
    border-top: none;
    color: #5C92AA;
}

.table td.name{
    color: #504747;
    font-weight: bold;
}

.table-striped > tbody > tr:nth-child(odd) > td, 
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #E9F5F8;
}

.table-striped > tbody > tr:nth-child(even) > td, 
.table-striped > tbody > tr:nth-child(even) > th {
    background-color: #F4FDFF;
}

.img-rounded{
    border-radius: 100%;
    width: 30px;
    height: 30px;
}